@media screen and (min-width:601px) {
  .main-grid {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 40px auto;
    }
  .head-menu {
    grid-column: 0 / 3;
    grid-row: 0 / 2;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
  }
  .side-menu {
    grid-column: 0 / 2;
    grid-row: 1 / 3;
  }
  .main-content {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .head-menu .hmg-logo {
    grid-column: 0 / 2;
  }
  .head-menu .hmg-home {
    grid-column: 2 / 4;
  }
  .head-menu .hmg-about {
    grid-column: 3 / 5;
  }
  .head-menu .hmg-help {
    grid-column: 4 / 6;
  }
}
